# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL
    4. Java
    5. Scala
    6. C++
    7. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. NumPy
    3. SciPy
    4. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Lab |
| Jupyter Notebooks |
| R Studio |
| Apache Zeppelin |
| Spyder |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

900/60

15.0

**Objectives**

* List Data Science languages
* List Data Science libraries
* List Data Science tools
* Create a Jupyter Notebook

## Author

Charlene Sison